<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Willberries</title>

    <link rel="stylesheet" href="{% static 'sass/style.css' %}">
</head>

<body>
    <header class="header">
        <div class="container">
          <div class="header-container">
            <img
              src="{% static 'img/logo_wb.svg' %}"
              alt="Icon: Logo Willberries"
              class="logo"
            />
            <div class="navbar">
              <div class="navbar-container">
                <a href="#" class="navbar__item-1">Womens</a>
                <a href="#" class="navbar__item-2">Mens</a>
                <a href="#" class="navbar__item-3">Goods</a>
                <a href="#" class="navbar__item-4">Accessories</a>
                <a href="#" class="navbar__item-5">Brands</a>
                <a href="#" class="navbar__item-6">Blog</a>
              </div>
              <!-- /.navbar-container -->
            </div>
            <!-- /.navbar -->
            <button class="bin">
              <img src="{% static 'img/cart.svg' %}" alt="Icon: Cart" />
              <span>Cart</span>
            </button>
          </div>
          <!-- /.header-container -->
        </div>
        <!-- /.container -->
      </header>

      <footer class="footer">
        <div class="container">
            <div class="footer-container">
                <div class="footer-container--up">
                    <div class="footer__links">
                        <a href="#" class="links__shop">Shop</a>
                        <a href="#" class="links__about">About As</a>
                        <a href="#" class="links__careers">Careers</a>
                        <a href="#" class="links__faq">FAQ</a>
                        <a href="#" class="links__blog">Blog</a>
                        <a href="#" class="links__contacts">Contacts</a>                   
                    </div>
                    <!-- /.footer__links -->
    
                    <div class="footer__social">
                        <p class="social__word">Follow Us</p>
                        <a href="#" class="social__link">
                            <img src="{% static 'img/facebook.svg' %}"
                                 alt="Icon: Facebook">
                        </a>
                        <a href="#" class="social__link">
                            <img src="{% static 'img/twitter.svg' %}"
                                 alt="Icon: Twitter">
                        </a>
                        <a href="#" class="social__link">
                            <img src="{% static 'img/instagram.svg' %}"
                                 alt="Icon: Instagram">
                        </a>
                    </div>
                    <!-- /.footer__social -->
    
                    <p class="copyright">© 2019 Universal UI Kit</p>
                </div>
                <!-- /.footer-container--up -->

                <div class="footer-container__line"></div>
                <!-- /.footer-container__line -->

                <div class="footer-container--down">
                    <a href="#" class="links__visa">
                        <img src="{% static 'img/visa.svg' %}"
                             alt="Icon: Visa">
                    </a>
                    <a href="#" class="links__mastercard">
                        <img src="{% static 'img/mastercard.svg' %}"
                             alt="Icon: MasterCard">
                    </a>
                    <a href="#" class="links__paypal">
                        <img src="{% static 'img/paypal.svg' %}"
                             alt="Icon: PayPal">
                    </a>
                    <a href="#" class="links__bitcoin">
                        <img src="{% static 'img/bitcoin.svg' %}"
                             alt="Icon: bitcoin">
                    </a>

                    <button class="button-top">
                        <p class="button-name">Top</p>
                        <img src="{% static 'img/arrow-top.svg' %}"
                             alt="Icon: Arrow top"
                             class="button-top">
                    </button>
                </div>
                <!-- /.footer-container--down -->
            </div>
            <!-- /.footer-container -->
        </div>
        <!-- /.container -->
      </footer>
</body>
</html>